[[source]]
name = "pypi"
url = "https://artifactoryprod.es.ad.adp.com/artifactory/api/pypi/pypi-cache-repo/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]

[requires]
python_version = "3.8"
